<div class="container portfolio">
    <div class="row">
        <div class="col-md-12">
            <div class="heading"> <img src="https://image.ibb.co/cbCMvA/logo.png" />
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="../../../assets/PMP.jpg" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1 style="text-align: center;font-weight: 800; padding-bottom: 3%;">Jable Johnson</h1>
                    <h6>Age / Height : 20 Yrs. / 1m78</h6>
                    <h6>Mother Tongue : Vietnamese</h6>
                    <h6>Location/Country : Ho Chi Minh city / Viet Nam</h6>
                    <h6>Education : In Process</h6>
                    <h6>Profession : Web Developer</h6>
                    <h6>Level : Fresher</h6>
                    <h6>Marital Status : Single</h6>
                    <button class="btn btn-primary" type="button" routerLink='/contact' style="display: block; margin: 5% auto;"><i class="fa fa-download"></i> Contact to me</button>
                </div>
            </div>
        </div>
    </div>
</div>