<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <div *ngIf="authService.isLoggedIn">

            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Contact to me</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#" routerLink='/contact' class="btn btn-danger btn-rounded">Contact Now!</a>
                </li>
            </ul>
            <!-- Call to action -->
            <hr>
        </div>
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">



            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Assignment project</h6>
                <p>Simple project of me in class. Wish you have sweet time with it. Thanks you very much!!!</p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p>
                    <a href="http://54.179.162.189:3000/" target="_blank">Jable CV-online</a>
                </p>
                <p>
                    <a href="http://gettrendsnow.com/" target="_blank">Twitter Trend 24h</a>
                </p>
                <p>
                    <a href="https://minhphupham.github.io/CV-maker/" target="_blank">CV Maker Online</a>
                </p>
                <p>
                    <a href="https://minhphupham.github.io/Blog-first-project/" target="_blank">Blog HTML</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p>
                    <a href="#!" routerLink='/user'>Your Account</a>
                </p>
                <p>
                    <a href="#!" routerLink='/exam'>Examination</a>
                </p>
                <p>
                    <a href="#!" routerLink='/about'>About me</a>
                </p>
                <p>
                    <a href="#!" routerLink='/contact'>Help</a>
                </p>

            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Ho Chi Minh City, Viet Nam</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>phamminhphueur@gmail.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> 0916743517</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->
        <div *ngIf="authService.isLoggedOut">
            <hr>

            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#" routerLink='/register' class="btn btn-danger btn-rounded">Sign up!</a>
                </li>
            </ul>
            <!-- Call to action -->

        </div>

        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="https://github.com/MinhPhuPham" target="_blank">
                        <strong>GitHub: MinhPhuPham</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->