.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

header {
    margin-bottom: 64px;
}

.navbar {
    box-shadow: none;
    font-weight: 550;
}

nav {
    background-color: #c09815;
}

.dropdown-menu {
    margin: 0.35rem -1rem 0 0 !important;
}

.top-nav-collapse {
    background-color: #4285F4 !important;
    transition: background-color 200ms linear;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn-login {
    font-weight: 450;
    border-radius: 10em;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    &:hover {
        background: rgba(0, 0, 0, .2);
    }
}

.custom-img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
    header {
        margin-bottom: 56px;
    }
}