.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    padding: 10px;
    div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 30px;
    }
}

.jumbotron-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #c09815;
    border-top: 0.5px solid rgb(223, 217, 207);
    height: 450px;
    .jumbotron__section {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
        z-index: 2;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #fff;
        .row {
            margin-left: auto;
            margin-right: auto;
            .column {
                position: relative;
                .offset-top-3 {
                    margin-top: 3rem;
                    margin-left: 60px;
                }
                .offset-bottom-3 {
                    margin-bottom: 3rem;
                }
                .intro {
                    margin-bottom: 3rem;
                    p {
                        font-weight: 400;
                        font-size: 1.25rem;
                    }
                }
            }
        }
        .title-banner {
            font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
            -ms-interpolation-mode: bicubic;
        }
        .heading--serif {
            font-family: "Roboto", sans-serif;
            font-weight: 510;
            color: #575153;
            font-size: 1.26667rem;
            line-height: 1.4;
            margin-top: 0;
            margin-bottom: .3rem;
        }
        .btn {
            box-shadow: none !important;
        }
        .input_email {
            border-radius: 1.5rem;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .submit {
            border-radius: 1.5rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            font-weight: 500;
            text-transform: none;
        }
        .fix {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .service {
            border-radius: 1.5rem;
            font-weight: 500;
            text-transform: none;
            padding: .84rem 2.14rem !important;
            font-size: 1.2rem !important;
            margin: .375rem;
            transition: all .5s ease;
            &:hover {
                background-image: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
                // color: rgb(192, 68, 11) !important;
                border: none !important;
            }
        }
        .overlay {
            max-width: 58%;
            opacity: .4;
            position: absolute;
            top: 2rem;
            max-height: 80%;
        }
        .character {
            position: relative;
            width: 58%;
            height: width;
            top: 3rem;
            left: 22%;
            z-index: 3;
            filter: drop-shadow(8px .01px 6px rgba(85, 84, 84, 0.5));
            -webkit-filter: drop-shadow(8px .01px 6px rgba(85, 84, 84, 0.5));
        }
    }
}

.light {
    background: #fff !important;
}

.large-5 {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

.breakout {
    background-color: #eaf5f2;
    overflow: hidden;
    padding-bottom: 3rem;
    padding-top: 3rem;
    .inside_block {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .custom {
        margin: 0 auto 2rem;
        text-align: center;
        font-size: 1.2rem;
    }
    .row {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }
    .border {
        border-radius: 16px;
        background-color: #eaf5f2;
    }
    .benefit {
        display: block;
        cursor: pointer;
        text-align: center;
        opacity: 0.9;
        border: 1px solid #ccc!important;
        &:hover {
            opacity: 1.1;
        }
        .customer_img {
            width: 150px;
            height: 150px;
            opacity: .8;
        }
        p {
            margin-top: 1rem;
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
}

.speech {
    // position: absolute;
    float: right;
}

.speech-bubble {
    position: relative;
    background: white;
    border-radius: .4em;
    padding: 1rem 2rem;
    margin: 1em 0;
    text-align: center;
    color: rgb(53, 43, 43);
    font-weight: bold;
    font-size: 200%;
    left: -30%;
    &::before {
        content: '';
        background-image: url('../../../assets/img/speech-pointer.svg');
        background-size: 33px 23px;
        position: absolute;
        bottom: -22px;
        z-index: 0;
        height: 23px;
        width: 33px;
        left: -1%;
    }
}

@mixin h2 {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    color: #333;
    text-rendering: optimizeLegibility;
}

.inside-text {
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h2 {
        @include h2();
    }
    p {
        font-size: 1.1rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.wrap-area {
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h2 {
        @include h2();
    }
    .introduce-subject {
        h2 {
            font-weight: 450;
            font-size: 1.5;
        }
    }
}


/* stylelint-enable */

@media screen and (min-width: 48em) {
    .inside-text {
        font-size: 2.2rem;
    }
    .offset-top-3 {
        margin-left: 0px;
    }
    .jumbotron__section>.row>.column:first-child {
        justify-content: center;
    }
    .jumbotron__section>.row>.col {
        display: flex;
        flex-direction: column;
    }
    .input_email,
    .submit {
        font-size: 1.1rem;
        height: 3rem;
    }
}

@mixin offset-top-3 {
    .offset-top-3 {
        margin-left: 0px !important;
    }
    .title-banner {
        font-size: 40px !important;
    }
    .intro {
        margin-bottom: 1.5rem !important;
        p {
            font-weight: 390 !important;
            font-size: 1.1rem !important;
        }
    }
}

@mixin offset-md {
    .offset-top-3 {
        margin-left: 0px !important;
    }
    .title-banner {
        font-size: 2.7rem !important;
        margin-bottom: 2rem !important;
    }
}

@media (min-width: 1110px) and (max-width: 1300px) {
    @include offset-md();
}

@media (min-width: 994px) and (max-width: 1280px) {
    .character {
        top: 35% !important;
        left: 12% !important;
    }
    @include offset-md()
}

@media (min-width: 768px) and (max-width: 992px) {
    @include offset-top-3();
}

@media (min-width:240px) and (max-width:576px) {
    .input_email,
    .submit {
        border-radius: 1.5rem !important;
    }
}

@mixin banner-sm {
    .speech-bubble {
        padding: .5rem 1rem !important;
        margin: 0 !important;
        font-size: 150% !important;
        left: 0 !important;
    }
    .character {
        top: 1rem !important;
        left: 2% !important;
        filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
        -webkit-filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
    }
}

@media (min-width: 438px) and (max-width: 736px) {
    .overlay {
        top: 0 !important;
    }
    // .jumbotron-container {
    //     height: 500px !important;
    // }
    .character {
        top: 4rem !important;
        left: 5% !important;
        filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
        -webkit-filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
    }
}

@media (min-width: 300px) and (max-width: 438) {
    .character {
        top: 1rem !important;
        left: 12% !important;
        filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
        -webkit-filter: drop-shadow(3px .01px 6px rgba(85, 84, 84, 0.5)) !important;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    .jumbotron-container {
        height: 600px !important;
        .title-banner {
            margin-bottom: .5rem !important;
        }
    }
    @include offset-top-3();
    .speech-bubble {
        padding: .5rem 1rem !important;
        margin: 0 !important;
        font-size: 150% !important;
        left: -20% !important;
    }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    .jumbotron-container {
        height: 600px !important;
    }
    @include offset-top-3();
    @include banner-sm();
}