<div class="container-fuild">
    <div class="wrap">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="text-align: center;">
                <img src="../../../assets/img/4041.png" title="Sorry we can't found page"> </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" style="border-left: 6px solid #ccc!important; margin-top: -15px;">
                <p class="title">Page Not Found!!!</p>
                <p>We can't find your URL want or Something was wrong.</p>
                <p>It looks like this was the result of either:</p>
                <ul>
                    <li>Check your URL again.</li>
                    <li>An out-of-date link.</li>
                </ul>
                <div class="btn-home">
                    <a role="button" class="btn btn-primary" routerLink='/home'>Take Home</a>
                </div>
            </div>

        </div>
    </div>
</div>