.container-fluid {
    padding: 2% 0 2% 0;
}

.num_question {
    min-width: 30px;
    margin: 2px;
    background-color: #dedede;
    line-height: 30px;
    font-size: 15px;
    font-weight: 430;
    padding: 8px;
    &:hover {
        background-color: #c7a4a4;
    }
}

.bg-fail {
    background-color: rgb(216, 45, 45) !important;
    color: rgb(181, 221, 214) !important;
}

.bg-true {
    background-color: rgb(34, 240, 34) !important;
}