<div class="text-center my-4  blue-grey-text" style="padding-top:2rem; ">
    <hr>
    <h1 style="font-weight: 400;">Yours {{id}} Exam Results</h1>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div style="display: block" width="50px">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
            </div>
            <br>
            <h6 style="text-align: center; font-weight: 400;">The chart shows the percentage of correct sentences in Exam {{id}}</h6>
        </div>
        <div class="col-lg-6">
            <div class="text-center my-4" *ngIf="authService.userData as user">
                <h3><strong>Your Point: </strong>{{point}}</h3>
                <p><strong>Done: </strong>{{temp}} %</p>
                <p><strong>Fail: </strong>{{100-temp}} %</p>
                <p><strong>User: </strong>{{(user.displayName) ? user.displayName : 'User'}}</p>
                <p><strong>Email: </strong>{{user.email}}</p>
                <hr>

                <a role="button" class="btn btn-primary">Save My Point</a>
                <a role="button" class="btn btn-primary" (click)="Back()">Test Again</a>

                <br>
                <small>or</small>
                <br>
                <button class="btn btn-primary" routerLink="/exam">Let's go For another test</button>
            </div>
        </div>
    </div>
</div>
<hr>